@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

:root {
  --foreground-rgb: 60, 47, 47;
  /* #3C2F2F */
  --background-start-rgb: 245, 240, 232;
  /* #F5F0E8 */
  --background-end-rgb: 245, 240, 232;
}

body {
  color: #3C2F2F;
  background: #F5F0E8;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

::selection {
  background-color: #D4AF37;
  /* brand-gold */
  color: #3C2F2F;
  /* brand-dark */
}